.back {
    background-image: url("../../images/bg-card-back.png");
    
    display: flex;
    align-items: center;
    justify-content: end;
    background-repeat: no-repeat;
    background-size: contain;
    color: hsl(270, 3%, 87%);
    width: 366px;
    height: 184px;
    padding: 20px;
    margin-left: 105%;

    p {
        margin-right: 30px;
    }
}

@media (max-width: 768px) {
    .back {
        width: 245px;
        height: 124px;
        margin: 2rem 2rem 2.8rem 0;
        padding: 10px;

        p {
            margin-right: 25px;
        }
    }
}