.form {
    box-sizing: border-box;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding-left: 25%;
    

    .flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        width: 100%;


        .date-field {
            display: flex;
            align-items: center;
            margin-top: 5px;
    
            input {
            width: 4rem;
            margin-right: .5rem;
            }
        }
        

        .cvc {
            display: flex;
            flex-direction: column;

            input {
                width: 93%;
            }
        }
    }

    label {
        font-size: 0.8rem;
        margin: 5px 0;
    }

    .btn {
        width: 100%;
        height: 3rem;
        border-radius: 8px;
        background-color: hsl(278, 68%, 11%);
        color: white;
        font-size: 1rem;
        font-weight: 700;
        margin-top: 1rem;
        cursor: pointer;
    }

    .error {
        color: hsl(0, 100%, 66%);
        font-size: 0.8rem;
        margin-top: 5px;
    }
}

@media (max-width: 768px) {
    .form {
        width: 85%;
        padding-left: 0;
        margin-top: 6rem;
    }
}