.front {
    background-image: url("../../images/bg-card-front.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 366px;
    height: 184px;
    padding: 30px;
    margin-left: 70%;
    color: hsl(270, 3%, 87%);

    .details {
        margin-top: 3rem;
        
        .digits {
            font-size: 1.5rem;
            margin: 10px 0;
        }
    }
    .name-exp {
        display: flex;
        justify-content: space-between;
        font-size: 0.9rem;
    }
}

@media (max-width: 768px) {
    .front {
        position: absolute;
        top: 115px;
        left: 20px;
        width: 245px;
        height: 124px;
        margin: 0;
        padding: 10px;

        .details {
            text-align: center;
            margin-top: 1.5rem;
            
            .digits {
                font-size: 1.2rem;
                margin: 0;
            }
        }
        .name-exp {
            display: flex;
            justify-content: space-between;
            font-size: 0.75rem;
        }
    }
}